server {
    listen 80;
    server_name {{ server_name }};

    # Frontend Reverse Proxy
    location /frontend/ {
        proxy_pass http://{{ frontend_host }}:{{ frontend_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Backend Reverse Proxy
    location /backend/ {
        proxy_pass http://{{ backend_host }}:{{ backend_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }


    # General error handling
    error_page 404 /404.html;
    location = /404.html {
        root /usr/share/nginx/html;
    }
}

